<!--datei muss so heißen, wie im controller deffiniert (home) -->
<div class="home-callout text-center container-fluid">
  <h1>Serwus i bims dein Kallender</h1>
  <h3>Hier gibts Kallender vong Datum her.</h3>
</div>