<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>Sie haben eine Nachricht von Kappa Kalender erhalten.
        <%= "#{@name}, #{@email}" %> </p>
        <p><%= @body %></p>
    </body>
</html>