<!DOCTYPE html>
<!-- Datei muss so heißen wie die Funktion in contact_mailer. Läuft so, wie wenn Controller die passende View heraussucht -->
<html>
    <head></head>
    <body>
        <p>Sie haben eine Nachricht von Kappa Kalender erhalten.
        <%= "#{@name}, #{@email}" %> </p>
        <p><%= @body %></p>
    </body>
</html>